<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>hello vuejs</title>
  </head>

  <body>
    <div id="app">
      <div v-if='isEmail'>
        <label>用户邮箱</label>
        <input placeholder="用户邮箱">
      </div>
      <div v-else>
        <label>用户账户</label>
        <input placeholder="用户账户">
      </div>
      <div>
        <button @click='changeInput'>切换方式</button>
      </div>
      <br />

      <div v-if='isEmail2'>
        <label>用户邮箱</label>
        <input placeholder="用户邮箱" key='email'>
      </div>
      <div v-else>
        <label>用户账户</label>
        <input placeholder="用户账户" key='account'>
      </div>
      <div>
        <button @click='changeInput2'>切换方式2</button>
      </div>
    </div>
    <script src="../js/vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          message: "你好啊",
          isEmail: false,
          isEmail2: false,
        },
        methods: {
          changeInput(){
            this.isEmail = !this.isEmail
          },
          changeInput2(){
            this.isEmail2 = !this.isEmail2
          }
        },
      });
    </script>
  </body>
</html>
